@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
:root {
  --red: rgb(209, 8, 8);
  --black: rgb(59, 3, 3);
  --white: rgb(224, 224, 224);
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(var(--red), var(--black));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
